@model ShimanoTask.Controllers.UserFormat;

@{
    
}

<div class="text-left">
    <h1>Edit User</h1>
    <form asp-action="EditUser" asp-controller="User" method="post">
      <div class="form-group">
        
        <label type="hidden" readonly type="form-control" asp-for="UserId">UserId</label>
        <input type="hidden" readonly value="@ViewBag.User.UserId" asp-for="UserId" type="text" class="form-control" id="UserId" aria-describedby="UserId" placeholder="Enter UserId ... ">

        <label asp-for="UserName">UserName</label>
        <input value="@ViewBag.User.UserName" asp-for="UserName" type="text" class="form-control" id="UserName" aria-describedby="UserName" placeholder="Enter UserName ... ">

        <label readonly asp-for="Password">EncryptedPassword (Cannot Edit)</label>
        <input readonly value="@ViewBag.User.Password" asp-for="Password" type="text" class="form-control" id="Password" aria-describedby="Password" placeholder="Enter Password ... ">

        <label asp-for="GroupId" >Select Group</label>
        <select value="@ViewBag.User.GroupId" class="custom-select" asp-for="GroupId" asp-items="ViewBag.GroupOptions"></select>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/User">All Users User</a>
    </form>
</div>
