@* @model ShimanoTask.Controllers.AccountFormat; *@

@{

}

<div class="text-left">
    <h1>@Model.GroupName</h1>

    <p>Here's should be the list of menus, but somehow, show nothing. My time Is up also</p>
@*     @foreach(var menu in Model.Menus) {
      <div><a> @menu.MenuName </a></div>
    } *@
</div>
